<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <RollingFile
            name="transactionLogs"
            fileName="${LOG_DIR}/transactions.log"
            filePattern="${LOG_DIR}/transactions.%d{dd-MMM}.log.gz"
            ignoreExceptions="false">
        <MarkerFilter marker="TRANSACTION" onMatch="ACCEPT" onMismatch="DENY"/>
        <PatternLayout>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
        </PatternLayout>
        <Policies>
            <TimeBasedTriggeringPolicy interval="1"/>
        </Policies>
        <DefaultRolloverStrategy max="5"/>
    </RollingFile>

    <Loggers>
        <Logger name= "ru.vladimirvorobev.ylabhomework.Main" level="trace" additivity="false">
           <AppenderRef ref="Console"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="all">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>


</Configuration>